/*******************************
  Buy A Plot Styles
*******************************/

/* Center the form and set background color */
form {
  background-color: bisque;
  background-position: 45em;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
}


div {
  flex-direction: row-reverse;
  display: inline-flex;
  margin-right: 10px;
  /* Add some spacing between the radio button and label */
}

#WillowGardens {
  text-align: center;
}


/* Style form inputs */
input {
  display: block;
  padding: 0.5em;
  margin-bottom: 2em;
  border: none;
  border-radius: 5px;
}

/* Style checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5em;
  /* Add some spacing between checkboxes and labels */
}

/* Style submit and reset buttons */
input[type="submit"] {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

input[type="reset"] {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0052a0;
}

/* Style form field labels */
label {
  display: block;
  margin-bottom: 0.5em;
}

/* Style form field legends */
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Footer styling */
footer {
  background-color: wheat;
  text-align: left;
  margin-top: 2em;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  height: 20%;
}